
nav a {
    font-weight: bold;
    display: inline-block;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
}
nav a:hover {   
    text-decoration: none;
}

a {
    font-weight: bold;
    color: rgb(1, 180, 1);
    display: inline-block;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
}
a:hover {   
    text-decoration: none;
}

.router-link-exact-active {
    color: rgb(1, 180, 1);
} 
.router-link-exact-active:hover {
    color: rgb(255, 0, 0);
} 
.invalid-feedback {
   font-weight: bold;
}
